{% extends 'base.html' %}

{% block title %}
    Delete - {{ user.nickname() }}
{% endblock title %}

{% block page_content %}
    <div class="container">
        <h3 class="naslov">Delete</h3>
    </div>
    <div class="container">
        <ul>
            {% for message in messages %}
                <li id="from_to">
                    <span id="from_to"><a href="/message/{{ message.key.id() }}"> Message:</span> <span id="message">{{ message.text }}</span></a>&nbsp&nbsp<a href="/message/{{ message.key.id() }}/delete">Delete Message</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock page_content %}